/* ///////////////////////////////////////////////////////////
//
// TABLE OF CONTENTS
//
// 1.  Default
// 2.  Navbar
// 3.  Profile page
// 4.  Sign-in page
// 5.  Sign-up page
// 6.  Show Image page
// 7.  Dashboard
// 8.  Upload - Dropzone
//
/////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////
//////// 1. Default    ///////////////////////////////////////
//////////////////////////////////////////////////////////// */

html,body,#root,.content{
    height: 100%;
    width: 100%;
    font-family: 'Raleway', sans-serif;
  }
  
  body{
    background-color: #FAFAFA;
  }
  
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
  
  a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    }
    
    /*Change text in autofill textbox*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover, 
    input:-webkit-autofill:focus, 
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset;
    }
  /* ///////////////////////////////////////////////////////////
  //////// 2. Navbar    ///////////////////////////////////////
  //////////////////////////////////////////////////////////// */
  
  
  
  /* ///////////////////////////////////////////////////////////
  //////// 3. Profile Page    /////////////////////////////////
  //////////////////////////////////////////////////////////// */
  
  
  /* ///////////////////////////////////////////////////////////
  //////// 4. Sign-in Page    /////////////////////////////////
  //////////////////////////////////////////////////////////// */
  
  #login-left-banner{
      background-size: cover;
      background-repeat: no-repeat;
      /* background-color: #232323; */
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      background: linear-gradient(87deg,#5e72e4 0,#825ee4 100%)!important;
  }
  
  #google-button{
    background-color: #DD4B39;
    border-color: #DD4B39;
  }
  
  /* ///////////////////////////////////////////////////////////
  //////// 5. Sign Up Page    ////////////////////////////
  //////////////////////////////////////////////////////////// */
  
  
  /* ///////////////////////////////////////////////////////////
  //////// 6. Edit Profile Page    ////////////////////////////
  //////////////////////////////////////////////////////////// */

   /* /////////////////////////////////////////////////////////////
  //////// 7. Dashboard    ///////////////////////////////////////
  //////////////////////////////////////////////////////////// */
  
  #dashboard{
      .bg-gradient-primary{
        background: linear-gradient(87deg,#5e72e4 0,#825ee4 100%)!important;
      }
      .bottom-bg{
          background-color: #f8f9fe;
      }
      .vertical-navbar{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }

      .feather {
        width: 16px;
        height: 16px;
        vertical-align: text-bottom;
      }
      
      /*
       * Sidebar
       */
      
      .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 48px 0 0; /* Height of navbar */
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
      }
      
      .sidebar-sticky {
        position: relative;
        top: 0;
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
      }
      
      @supports ((position: -webkit-sticky) or (position: sticky)) {
        .sidebar-sticky {
          position: -webkit-sticky;
          position: sticky;
        }
      }
      
      .sidebar .nav-link {
        font-size:30px;
        font-weight: 500;
        color: #333;
      }
      
      .sidebar .nav-link .feather {
        margin-right: 4px;
        color: #999;
      }
      
      .sidebar .nav-link.active {
        color: #007bff;
      }
      
      .sidebar .nav-link:hover .feather,
      .sidebar .nav-link.active .feather {
        color: inherit;
      }
      
  }

    /* ///////////////////////////////////////////////////////////
  //////// 8. Upload/ Dropzone    /////////////////////////////////
  //////////////////////////////////////////////////////////// */

  .dropzone{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.05);
    background: linear-gradient(87deg,rgba(125, 136, 196, 0.9) 0,rgba(130, 94, 228, 0.9) 100%)!important;
    color: #fff;
  }

  #preview,#loading{
      background-color: rgba(247, 248, 253,0.5);
  }
  
  #success-preview{
    background-color: #f8f9fe;
    .container-fluid{
      background-color: #fff;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.05);
    }
  }

#generalconceptdiv{
  max-height:724px;
  overflow-y:scroll;
}  
  
#billboardcontainer{
  max-height:520px;
  overflow-y:scroll;
  position:fixed;
  left:250px;
  top:20px;
  width:1100px;
}
  /* ///////////////////////////////////////////////////////////
  //////// 8. Bid    /////////////////////////////////
  //////////////////////////////////////////////////////////// */

  
  .bil-list{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.05);
  }

  .react-datepicker-wrapper,.react-datepicker__input-container, .react-datepicker__input-container input{
    width: 100%;
    text-align: center;
  }

  .active{
    background: linear-gradient(87deg,#5e72e4 0,#825ee4 100%)!important;
  }

  .active Form{
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.05);
  }

  .shadow-me {
    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(182, 182, 182, 0.05);
  }

  #welcome{
    position:fixed;
    left:350px;
  }

  #maidcontainer{
    position:fixed;
    left:350px;
    top:100px;
    // border: 2px solid black;
  }

  .maid{
    display:inline-block;
    border:20px solid transparent;
  }

  .maidphoto{
    display:block;
    height:300px;
    width:300px;
    border:2px solid antiquewhite;
  }